body {
    margin: 0 0 auto 0;
    background-color: #fefae0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Header*/
header {
    background-color: #14213D;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;

}

.contenedor-img-usuario {
    color: #E5E5E5;
    display: flex;
    width: 30%;
    justify-content: flex-start;
    align-items: center;
}

.contenedor-logo {
    background-color: #bc6c25;
    border-radius: 50%;
    width: 80px; 
    height: 80px;
    margin: 10px 0 5px 20px;
}

.contenedor-img-usuario h2 {
    margin-left: 15px;
    
}

header nav {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-right: 20px;
}

.link-header {
    background-color: #FCA311;
    text-decoration: none;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-header:visited {
    color: black;
}

.link-header:hover {
    background-color: #ffb43c;
}

#sesion {
    background-color: #000000;
    color: #E5E5E5;
}

#sesion:hover {
    background-color: #333232;
}

/* --- */

/* Footer */

footer {
    background-color: #14213D;
    color: #E5E5E5;
    width: 100%;
    height: auto;
    border-top: solid 1px;  
    flex-shrink: 0;
}

footer section {
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

footer section p {
    margin: 0 16px;
}

/* --- */

/* Página Adoptar mascota */
/* Contenedor mascotas */

main {
    flex: 1;
    height: 100vh;
    /* background-color: #bc6c25;  */ 
    background-image: url("../img/patron1.jpg");
}

.titulo {
    display: flex;
    justify-content: center;
}

.titulo h1 {
    width: auto;
    background-color: #E5E5E5;
    padding: 5px;
    border-radius: 4px;
}

.contenedor-mascotas {
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10%;
    /* border-bottom: #283618 solid; */
}
.imagen-mascota {
    background-color: #E5E5E5;
    width: 540px;
    height: 480px;
    margin-top: 20px;
    border-radius: 50%;
    border: solid 2px;
    position: relative;
    top: 10%;
    left: 5%;
}
 /* Descripcion mascota */

.contenedor-mascotas article {
    background-color: #FCA311;
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: solid 2px;
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-mascotas article h1 {
    margin-top: 15px;
    font-size: xx-large;
}

.contenedor-especificaciones {
    
    border-radius: 20px;
    margin: 15px 0;
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: space-between;
}

.especificaciones {
    
    width: 60%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

/* .datos {
    margin-right: 80px;
} */

.especificaciones span {    
    font-size: x-large;
    background-color: #fefae0;
    width: 100%;
    border-radius: 20px;
    border: solid 1px;
    /* border-radius: 10px; */
    /* padding: 5px 0; */
}

.descripcion-mascota {
    background-color: #fefae0;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 90%;
    height: 38%;
}

.descripcion-mascota p {
    margin: 5px 10px;
    font-size: large;
}

/* Formulario adopción */

/* main h1 {
    margin: 0;
    padding-top: 10px;
    text-align: center;
} */

.contenedor-formulario {
    padding-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 40%;    
    display: flex;
    justify-content: center;
}

.contenedor-formulario form {
    background-color: #14213D;
    width: 85%;
    height: 95%;
    border-radius: 10px;
    border: solid 1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "pregunta1 pregunta2"
    "pregunta3 pregunta4"
    "pregunta5 pregunta6"
    "enviar enviar";
}

.pregunta-form {
    background-color: #FCA311;
    padding-top: 5px;
    border-radius: 5px;
    width: 80%;
    height: 60%;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.pregunta-form input {
    margin-top: 10px;
}

.enviar {
    background-color: #000000;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: solid 1px;
    width: 100%;
    height: 100%;
}

.adop-animal {
    grid-area: enviar;
}

.enviar button {
    background-color: #14213D;
    border: none; 
    color: white;
    font-size: large;
    margin-top: 20px; 
    margin-bottom: 10px;
    padding: 18px 36px; 
    cursor: pointer; 
    border-radius: 5px; 
}

.enviar button:hover {
    background-color: #294e9e;
}
/* --- */

/* Página ¿como adoptar? */

.contenedor-instruccion {
    padding-top: 15px;
    display: flex; /* query: display: inline-block */
    /* flex: 1; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    gap: 9px;
    width: 100%;
    height: 260px;
    
}

.instrucciones {
    background-color: #FFFFFF;
    width: 440px;
    height: 240px;
}

.pregunta-correo {
    padding-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 46%;    
    display: flex;
    flex: 2;
    justify-content: center;
}

.pregunta-correo form {
    background-color: #14213D;
    width: 85%;
    height: 95%;
    border-radius: 10px;
    border: solid 1px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

.como {
    text-align: start;
    font-size: large;
}

.como label {
    margin-left: 40px;
}

.como textarea {
    margin: 10px 20px;
    width: 95%;
    height: 50%;
}

/* --- */

/* Página inicio */
/* Slider */

.slider {
    overflow: hidden;
}

.slider--inner {
    /* height: 400px; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 0.3s ease-in;

}

.contenedor-img img {
    width: 99vw;
    height: 480px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

/* --- */
/* contenedor inicio */
.contenedor-inicio {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.contenedor-animales {
    /* background-color: #bc6c25;
    background-image: url("../img/patron-perro-gato.avif"); */
    margin: 0;
    width: 85%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    justify-items: center;

    flex-wrap: wrap;
    align-items: stretch;

}

.mascotas-disponibles {
    background-color: #FCA311;
    color: black;
    text-decoration: none;
    width: 95%;
    height: 85%;
    display: flex;  
    /* flex-direction: column; */
    align-items: center;
    border-radius: 20px;
    transition: 0.3s;


    /* background-color: #606c38;
    color: black;
    text-decoration: none;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    transition: 0.3s;
    box-sizing: border-box;
    padding: 10px; */
}

.mascotas-disponibles:hover {
    box-shadow: 2px 10px 6px rgba(0, 0, 0, 0.4);
}

.mascotas-disponibles img {
    background-color: #fefae0;
    margin: 0;
    width: 40%;
    height: 80%;
    border-radius: 50%;
    align-self: center;
    position: relative;
    left: 5px;
}

.desc-mascota {
    width: 50%;
    margin-right: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    justify-content: center;
    /* left: 5%; */
}

.desc-mascota h2 {
    margin: 0 0 15px 0;
    text-align: center;
}

.desc-mascota h1 {
    margin: 0 0 30px 0;
    color: #294e9e;
    text-align: center;
}

.desc-mascota p {
    margin: 0;
    width: 100%;
    height: auto;
}

.contenedor-inicio aside {
    background-color: #fefae0;
    background-image: url("../img/AD.jpg");
    background-size: cover;
    background-position: center;
    width: 15%;
    min-height: 100vh;
    height: auto;
}

/* --- */
/* CRUD */